# Compiled Source #
###################
*.class
*.nxj
*.nxd
*.pyc

# Project metafiles #
#####################
.metadata/
.recommenders/
*.iml
.idea/

# Temporary files #
###################
*.swp

# Virtual environment #
#######################
venv/

# TexMaker Files #
##################
*.aux
*.log
*.synctex.gz
*.toc

# Editor Swap Files#
####################
~*
