# Compiled Source #
###################
*.class
*.nxj
*.nxd
*.pyc

# Project metafiles #
#####################
.metadata/
.recommenders/
*.iml
.idea/

# Temporary files #
###################
*.swp

# Virtual environment #
#######################
venv/
